services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hka_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/hka_db
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:18
    container_name: hka_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hka_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  db_data:
